@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

.pb-100 {
    padding-bottom: 160px;
}

@media (max-width: 1024px) {
    .pb-100 {
        padding-bottom: 100px;
    }
    
}
.pt-0 {
    padding-top: 0;
}

.logo + span {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

    color: #213356;
}

.logo {
    vertical-align: bottom;
    margin-right: 8px;
}


nav.navbar {
    padding-top: 46px;
    z-index: 0;
}
a.navbar-item {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #67718A;
}

.navbar-brand {
    margin-right: 80px;
    align-items: center;
}

@media (max-width: 1024px) {
    .navbar-brand {
        margin-right: 24px;
    }
}
.nav-bar {
    display: flex;
    flex-direction: row;
}

.hero-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #213356;
    white-space: pre-line;
    padding-top: 46px;
}

@media (max-width: 768px) {
    .hero-text {
        font-size: 32px;
        line-height: 48px;
        padding-top: 24px;
    }
    
}

.hero-image {
    position: absolute; 
    top: 0;
    left: 55%; 
    overflow: visible
}

@media (max-width: 1356px) {
    .hero-image {
        max-height: 600px;
    }
}

@media (max-width: 1215px) {
    .hero-image {
        display: none;
    }
}

.hero-subtext {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #67718A;
    white-space: pre-line;
}

@media (max-width: 768px) {
    .hero-subtext {
        font-size: 16px;
    }
}

.hero-button {
    margin-top: 45px;
    background: #21CD87;
    border-radius: 4px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: white;
    width: 234px;
    height: 54px;
    transition: 0.2s ease-in;
}

.hero-button:hover {
    color: white;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.15);
}

.m-auto {
    margin: auto;
}

.section-header {
}

.section-header-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;

    color: #213356;
}

.section-header-subtext {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;

    color: #67718A;
    white-space: pre-line;
}

.section-body {
    padding-top: 76px;
}

.dot {
    background: rgba(33, 205, 135, 0.4);
    border-radius: 8px;
    width: 20px;
    height: 20px;
    margin: auto;
}

.product-card-header {
    margin-bottom: 32px;
    display:flex;
    justify-content: flex-start;
    margin-right: auto;
}

.product-card {
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    padding: 24px 40px 30px 32px;
    position: relative;
}

@media (max-width: 768px) {
    .product-card {
        padding: 24px 32px 30px 32px;
    }
}

.product-card-header-title {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 130%;
    color: #213356;
    margin-left: 16px;
}

.product-card .table-header {
    margin-bottom: 24px;
}

.product-card .table-header-text {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #213356;
    text-align: right;
}

.product-card .table-header-text span {
    border-bottom: 1px solid #E7E7E7;
}
.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-card-body {
    margin-bottom: 32px;
}

.product-card-body .item-footer {
    margin-top: 32px;
}

.product-card-price {
    margin-top: auto;
}


.product-card-price .item-footer .price {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: right;
    color: #213356;
}

.product-card-price .item-footer .total {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #213356;
}

.product-card-body .item {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #67718A;
    margin-bottom: 0px;
}

.product-card-body .item .column {
    padding: 4px 12px 4px 12px;
}

.product-card-body .item .price {
    text-align: right;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #213356;
}

.product-card-body .item + .item {
    margin-top: 0px;
}

@media (min-width: 1408px) {
    .container {
        max-width: 1176px;
    }
}

.rectangle {
    background: rgba(33, 205, 135, 0.4);
    border-radius: 8px;
    transform: rotate(-35.27deg);
    width: 60px;
    height: 60px;
    position: absolute;
    right: 9px;
    top: -35px;
    z-index: -1;
}

.s-row {
    margin-top: 61px;
}

.full-spectre .column .name {

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

    color: #67718A;
}

.full-spectre .column .price {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;

    color: #213356;
}

.full-spectre .columns > .column > .columns > .column {
    padding-bottom: 8px;
    padding-top: 8px;
}

.contacts {
    padding: 32px 40px;
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

.contacts-item + .contacts-item {
    padding-top: 40px;
}

.contacts-item-name {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;

    color: #67718A;
    padding-bottom: 8px;
}

.contacts-item-value {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #213356;
}

.contacts-subtext {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    color: #67718A;
}
a:hover {
    color: #21CD87;
}

.contacts-side-text-big {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    color: #213356;
}

.contacts-side-text-small {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #67718A;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts-side-text-small .dot {
    background: #21CD87;
    border-radius: 8px;
    width: 20px;
    height: 20px;
    margin: 0 18px 0 0;
}

.footer {
    background: #F9FAFE;
    padding: 55px 24px 33px 24px;
}

.footer-link {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #213356;
}
.footer-link + .footer-link {
    padding-top: 24px;
}
.footer-contact + .footer-contact {
    padding-top: 40px;
}
.footer-contact-name {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #67718A;
    padding-bottom: 8px;
}
.footer-contact-value{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #213356;
}
.footer-company-name {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #213356;
    padding-bottom: 8px;
}
.credits {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #67718A;
}

@media(max-width: 763px) {
    .mb-md-5 {
        margin-bottom: 3em;
    }
}